amqp==2.3.2
anyjson==0.3.3
beautifulsoup4==4.6.3
billiard==3.5.0.4
celery==4.2.1
certifi==2020.11.8
chardet==3.0.4
Click==7.0
coverage==4.5.2
flake8==3.6.0
Flask==1.0.2
httpobs-cli==1.0.2
idna==2.7
itsdangerous==1.1.0
Jinja2==2.11.2
kombu==4.2.1
MarkupSafe==1.1.0
mccabe==0.6.1
nose==1.3.7
pep8==1.7.1
psutil==5.4.8
psycopg2-binary==2.8.6
publicsuffixlist==0.6.2
pycodestyle==2.4.0
pyflakes==2.0.0
pytz==2018.7
redis==2.10.6
requests==2.20.1
urllib3==1.24.3
uWSGI==2.0.17.1
vine==1.1.4
Werkzeug==0.14.1
